/* font-family: 'Inter', sans-serif; */

/* Cores e backgrounds */
.white{
  color: #fefefe;
}
.black{
  color: #222;
}
.green{
 color: #30C844 ;
}
.gray{
  color: #CCC;
}
.lightgray{
  color: #d3dce6;
}
.bgwhite{
  background-color: #fefefe;
}
.bgblack{
  background-color: #222;
}
.bggreen{
 background-color: #30C844 ;
}
.bggray{
  background-color: #CCC;
}
.bglightgray{
  background-color: #d3dce6;
}

/* Estrutura */
.mainpage {
  width: 1366px;
  margin: 50px auto;
}

img.img-logo {
  max-width: 70px;
  padding: 5px 10px;
}