/* font-family: 'Inter', sans-serif; */
/* Config */
body{
   font-family: 'Inter', sans-serif;
 }
 .clear{
   clear: both;
 }
/* Cores e backgrounds */
.white{
  color: #fefefe;
}
.black{
  color: #000;
}
.green{
 color: #30C844 ;
}
.gray{
  color: #CCC;
}
.lightgray{
  color: #d3dce6;
}
.bgwhite{
  background-color: #fefefe;
}
.bgblack{
  background-color: #000;
}
.bggreen{
 background-color: #30C844 ;
}
.bggray{
  background-color: #CCC;
}
.bglightgray{
  background-color: #d3dce6;
}

/* Estrutura */
.mainpage {
  width: 1366px;
  margin: 50px auto;
  border-radius: 2px;
}

.heading1 {
  font-weight: 900;
  line-height: 140%;
  font-size: 44px;
  font-weight: 900git;
}

/* COnfig do header */
header {
  max-height: 120px;
  margin: 15px 70px;
  padding-top: 50px;
  position: relative;
}
  /* Logo and nav */
    img.img-logo {
      max-width: 45px;
      float: left;
      display: inline-block;
    }
    nav {
      margin-left: 45px;

    }
    nav ul li {
      list-style-type: none;
      text-decoration: none;
      margin: 10px;
      display: inline;
    }
  /* Header Login */
    .header-login{
      display: inline-block;
      position: absolute;
      top: 52px;
      right: 45px;
    }
    .search-pin img{
      width: 25px;
      float: left;
    }
    .sign {
      padding: 15px 25px  ;
    }
    .btnblack:hover{
      padding: 15px 25px  ;
      border: 1px solid black;
      background-color: #fefefe;
      color: #000;

    }

    /* Section */
    .body-section {

      max-width: 1080px;
      margin: 80px auto 0px auto;
    }

    .dropdown-caret-ico img{
      max-width: 12px;
    }
      /*Section left area */

        h1.text-left {
          width: 120px;
        }



