*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#flex {
  background: #DCDCDC;
  height: 300px;
  display: flex;
}

.item {
  color: #FFF;
  background: #000;
  border: 1px solid white ;

}