/* Google Fonts API */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Base css Status */

:root{
      /* Primary Colors */
    --pale-blue:hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    /* Neutral Colors */
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue:hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

    /* font weight */
    --basic-weight: 500;
    --mid-weight: 700;
    --top-weight: 900;

    /* font sizes */

    --tittle-size: 0.838rem;
    --paragraph-size: 16px;

    /* Limits */
    --w-h-msc: 42px;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

*, ::after, ::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  background-color: var(--pale-blue);
  background-image: url(../images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100%;

}

.body-main main {
  grid-column-start: 2;
  border-radius: 20px;
  width: 25rem;
  display: grid;
  /* grid-template-rows: 220px 1fr auto auto auto; */
  margin: 7rem auto;
  background:  #fff url(../images/illustration-hero.svg) top center no-repeat;
  background-size: 110%;

}

.main-section {
  display: flex;
  flex-flow: column nowrap;
}

.tittle-card{
  align-self: center;
  font-size: 0.838rem;
  font-weight: 900 ;
  padding: 30px 0px 15px 0px;
  color: var(--dark-blue) ;
}

.read-opt {
  text-align: center;
  font-size: var(--paragraph-size) ;
  color: var(--desaturated-blue);
  padding: 0 45px 25px 45px ;
}

.section-plan {

  background-color: var(--very-pale-blue) ;
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin: 0 40px;
  border-radius: 10px;

}

.music-icon {
  width: var(--w-h-msc);
  height: var(--w-h-msc);

}

.plan-texts {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  text-align: left;
  font-size: var(--paragraph-size);
  font-weight: 500;
}
.section-mid-plan {
  
  color: var(--dark-blue);
  font-size: var(--paragraph-size);
  font-weight: 900;
}